.hidden
{
  display: none;
}

body {
  background-color: #F6F2F2 !important; 
  font-size: 16px;
  color: #828282 !important;
  font-family: 'Roboto', sans-serif;
}

a:hover{
  text-decoration: none !important;
}


textarea {
  resize: none;
}

.navbar
{
  border-radius: 0 !important;
}

.modal
{
  top: 30% !important;
}

.right
{
  float: right;
}

.left
{
  float: left;
}

.login, .settings
{
  padding-top: 40px;
  max-width: 300px;
  margin: auto;
}

.navbar-brand:hover
{
  color: #9d9d9d !important;
}

.formfix 
{
  margin-bottom: 80px;
}

.gap
{
  margin-right: 5px;
}

.crud, .feed
{
  padding: 5px 5px 5px 5px;
  width: 100%;
  border: 2px solid black;
  margin-bottom: 15px;

  background-color: white;  
  border-color: #DCDCDC;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

h3
{
  margin-top: 0px !important;
}

.crudfeed
{
  height: 80px;
}

#feed
{
  margin-top: 10px;
  margin-bottom: 50px;
}

